body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    font-optical-sizing: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

/* Navbar Stylings */

.btn-outline-success {
    color: black;
    border-radius: 25px;
    padding: 0 1rem;
}

.btn-outline-success i {
    display: inline;
    margin-right: 0.5rem;
}

.search-input {
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: .9rem;
}

.navbar {
    height: 7rem;
    background-color: white;
}

.fa-square-h {
    color: green;
    font-size: 2rem;
}

.nav-link {
    color: black !important;
}


/* Footer Stylings*/
.f-info-links a {
    text-decoration: none;
    color: black;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-info-socials i {
    font-size: 1.3rem;
    margin: 0 1rem;
}

.f-info {
    height: 8rem;
    display: flex;
    background-color: rgb(234, 226, 226);
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;
}

/* Cards Styling */
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none !important;
}

/* Overlay Effect */
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

/* New form */
.add-btn {
    background-color: green !important;
    border: none !important;
}

/* Edit form */
.edit-btn {
    background-color: green !important;
    border: none !important;
}

/* Show page */
.show-img {
    height: 30vh;
}

.btns {
    display: flex;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

/* Filters styles */

.filters {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2rem;
}

.filter{
    text-align: center;
    margin-right: 4rem;
    margin-top: 1rem;
    opacity: 0.7;
}

.filter:hover {
    opacity: 1;
    cursor: pointer;
}

.filter p {
    font-size: 1rem;
}

.tax-info {
    display: none;
}

.tax-toggle {
    border: 1px solid black;
    border-radius: 1rem;
    height: 3rem;
    width: 16rem;
    padding: 1rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
}

.origal-image{
    width: 150px;
}